fastapi~=0.104.1
pydantic_settings~=2.1.0
pydantic~=2.5.2
starlette~=0.27.0
click~=8.1.7
uvicorn~=0.24.0.post1
loguru~=0.7.2
typer~=0.9.0
httpx~=0.25.2
socksio~=1.0.0
APScheduler~=3.10.4
PyYAML~=6.0.1